
<ion-content>
  <ion-img src="assets/hello.jpg"></ion-img>

  <ion-item id="username" color="{{color}}">
    <ion-label position="floating">E-mail: </ion-label>
    <ion-input (keyup)="validatorkey()" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item id="password" color="{{color2}}">
    <ion-label position="floating">Password:</ion-label>
    <ion-input (keyup)="validatorkey()" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button (click)="validator()" id="button" expand="block">Log-In</ion-button>

  <a (click)="forgot()" id="link">New here? Register.</a>
</ion-content>
